body {
	background-color: #fff;
	clear:both;
	margin: 0px 0px 0px 0px;
}
.contents {
	float:left;
	width:80%;
}
.contents div {
	margin-left:20px;
}
.sidebar {
	float:right;
	/*background-color: #a33;*/
	width:20%;
}

h1 {
	color:#11d;
}

h2 {
	color:#161;
}
header {
	border-bottom: 10px solid #a33;
}

footer {
	background-color: #a33;
	color: #fff;
}


h1 {
	color:#11d;
}

h2 {
	color:#161;
}
header {
	border-bottom: 10px solid #a33;
}

footer {
	background-color: #a33;
	color: #fff;
}
img {
	max-width:300px;
	height:auto;
}
